* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #29B1DD;
	font-size: 30px;
	padding: 10px 0px 5px 10px;
}

#filter-container {
	background-color: #29B1DD;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7vh;
}

#filter-container label {
	color: white;
	padding-right: 10px;
}

#icons-container {
	background-color: #DDDDDD;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 85vh;
	padding: 20px 10px 30px;
}

.icon-container {
	background-color: white;
	width: 225px;
	height: 70px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 1px grey;
}

.icon-container i {
	font-size: 25px;
}

.icon-container h2 {
	font-size: 10px;
	padding-top: 5px;
}
